<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Корм Sano для відгодівлі птицы">
    <meta name="title" content="Откорм птицы">
    <title>Sano</title>
    <!-- build:css -->
    <link rel="stylesheet" href="/dist/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--Start header-->
    <header class="contact-header">
        <div class="container">
            <div class="row">
                <div class="col-12 text-header">
                    <h1>Откорм свиней</h1>
                </div>
            </div>
        </div>
    </header>
    <!--End header-->

    <!-- Start navbar-->
    <nav class="navbar navbar-expand-lg navbar-custom">

        <ul class="language my-auto">
            <li class="change-language">
                <a class="nav-link active" href="#">UA</a>
            </li>
            <li class="change-language">
                <a class="nav-link" href="#">RUS</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="30px">
       <g>
           <g>
               <path d="M501.333,96H10.667C4.779,96,0,100.779,0,106.667s4.779,10.667,10.667,10.667h490.667c5.888,0,10.667-4.779,10.667-10.667
                   S507.221,96,501.333,96z" fill="#fff"/>
           </g>
       </g>
       <g>
           <g>
               <path d="M501.333,245.333H10.667C4.779,245.333,0,250.112,0,256s4.779,10.667,10.667,10.667h490.667
                   c5.888,0,10.667-4.779,10.667-10.667S507.221,245.333,501.333,245.333z"  fill="#fff"/>
           </g>
       </g>
       <g>
           <g>
               <path d="M501.333,394.667H10.667C4.779,394.667,0,399.445,0,405.333C0,411.221,4.779,416,10.667,416h490.667
                   c5.888,0,10.667-4.779,10.667-10.667C512,399.445,507.221,394.667,501.333,394.667z" fill="#fff"/>
           </g>
       </g>
    </svg>
    </button>

        <div class="collapse navbar-collapse navbar-default justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link active" href="./index.html">Главная</a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Продукция
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="views/productForCow.html">Для КРС</a>
                        <a class="dropdown-item" href="views/productForPig.html">Для свиней</a>
                        <a class="dropdown-item" href="views/productForBird.html">Для птицы</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="views/contact.html">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="change-language">
                    <a class="nav-link" href="#">UA</a>
                </li>
                <li class="change-language">
                    <a class="nav-link active" href="#">RUS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End navbar-->


    <!--Start Banner-->
    <div class="container">
        <div class="row">
            <div class="col-12 image_header text-center">
                <img src="../assets/images/1.jpg"></img>
            </div>
        </div>
    </div>
    <!--End Banner-->

    <main class="container product_details">
        <div class="row">
            <div class="col-12 product_details_title">
                <h2>SanoSid</h2>
            </div>
        </div>
        <div class="row">
            <div class="order-2 order-md-1 col-12 col-md-8">
                <div>
                    <h4>Свойства</h4>
                    <ul>
                        <li>
                            <svg version="1.1" id="Check_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                        </g>
                                    </g>
                                </svg> Розробка безпечних та ефективних продуктів;
                        </li>
                        <li>
                            <svg version="1.1" id="Check_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Поліпшення здоров'я тварин;
                        </li>
                        <li>
                            <svg version="1.1" id="Check_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Підвищення продуктивності тварин;
                        </li>
                        <li>
                            <svg version="1.1" id="Check_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Підвищення продуктивності тварин збільшення прибутку фермера за рахунок економічного виробництва.
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>Свойства</h4>
                    <ul>
                        <li>
                            <svg version="1.1" id="Check_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                    </svg> Розробка безпечних та ефективних продуктів;
                        </li>
                        <li>
                            <svg version="1.1" id="Check_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                            <g>
                                                <g>
                                                    <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                        c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                        C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                                </g>
                                            </g>
                                    </svg> Поліпшення здоров'я тварин;
                        </li>
                        <li>
                            <svg version="1.1" id="Check_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                            <g>
                                                <g>
                                                    <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                        c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                        C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                                </g>
                                            </g>
                                    </svg> Підвищення продуктивності тварин;
                        </li>
                        <li>
                            <svg version="1.1" id="Check_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                            <g>
                                                <g>
                                                    <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                        c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                        C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                                </g>
                                            </g>
                            </svg> Підвищення продуктивності тварин збільшення прибутку фермера за рахунок економічного виробництва.
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>Свойства</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Маса тіла</th>
                                <th>кг</th>
                                <th>25-50</th>
                                <th>50-75</th>
                                <th>75-110</th>
                            </tr>
                            <tr>
                                <td>
                                    Ячмень</td>
                                <td>%</td>
                                <td>50</td>
                                <td>65</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>Пшеница</td>
                                <td>%</td>
                                <td>35</td>
                                <td>27,5</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Протаміно Преміум</td>
                                <td>%</td>
                                <td>15</td>
                                <td>12,5</td>
                                <td>10</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="order-1 order-md-2 col-12 col-md-4 mx-auto text-center">
                <img src="../assets/images/cart_sauengold-trag.jpg" alt="Sauengold Trag">
            </div>
        </div>
    </main>
    <!-- /.container -->

    <!--Start footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text mx-2">
                    <small>Sano 2008-2020. Все права защищены</small>
                </div>
            </div>
        </div>
    </footer>
    <!--End footer-->

    <!-- build:js -->
    <script src="/dist/app.js"></script>
    <!-- endbuild -->
</body>


</html>