<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Ефективний спосіб вигідної та швидкої відгоділві птицы">
    <meta name="title" content="Откорм птицы">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate" />
    <meta property="og:title" content="Откорм птицы" />
    <meta property="og:description" content="Ефективний спосіб вигідної та швидкої відгоділві птицы" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sano-dev.netlify.com/views/productforbird" />
    <meta property="og:image" content="https://sano-dev.netlify.com/assets/images/logo.jpg" />
    <title>Sano | Откорм птицы</title>
    <!-- build:css -->
    <link rel="stylesheet" href="/dist/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--Start header-->
    <header class="contact-header">
        <div class="container">
            <div class="row">
                <div class="col-12 text-header">
                    <h1>Откорм птицы</h1>
                </div>
            </div>
        </div>
    </header>

    <!--End header-->


    <!-- Start navbar-->
    <nav class="navbar navbar-expand-lg navbar-custom">

        <ul class="language my-auto">
            <li class="change-language">
                <a class="nav-link active" href="https://sano-dev.netlify.com/views/productforbird">UA</a>
            </li>
            <li class="change-language">
                <a class="nav-link" href="#">RUS</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="30px">
           <g>
               <g>
                   <path d="M501.333,96H10.667C4.779,96,0,100.779,0,106.667s4.779,10.667,10.667,10.667h490.667c5.888,0,10.667-4.779,10.667-10.667
                       S507.221,96,501.333,96z" fill="#fff"/>
               </g>
           </g>
           <g>
               <g>
                   <path d="M501.333,245.333H10.667C4.779,245.333,0,250.112,0,256s4.779,10.667,10.667,10.667h490.667
                       c5.888,0,10.667-4.779,10.667-10.667S507.221,245.333,501.333,245.333z"  fill="#fff"/>
               </g>
           </g>
           <g>
               <g>
                   <path d="M501.333,394.667H10.667C4.779,394.667,0,399.445,0,405.333C0,411.221,4.779,416,10.667,416h490.667
                       c5.888,0,10.667-4.779,10.667-10.667C512,399.445,507.221,394.667,501.333,394.667z" fill="#fff"/>
               </g>
           </g>
        </svg>
        </button>

        <div class="collapse navbar-collapse navbar-default justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link active" href="../index.html">Главная</a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Продукция
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./productForCow.html">Для КРС</a>
                        <a class="dropdown-item" href="./productForPig.html">Для свиней</a>
                        <a class="dropdown-item" href="./productForBird.html">Для птицы</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="change-language">
                    <a class="nav-link" href="https://sano-dev.netlify.com/views/productforbird">UA</a>
                </li>
                <li class="change-language">
                    <a class="nav-link active" href="#">RUS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End navbar-->


    <main class="container">
        <div class="row">
            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/bigEggProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/card_big_egg.jpg" alt="Big Egg 1.25">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/bigEggProduct.html" target="_blank">Big Egg 1.25</a>
                        </div>
                        <div class="text">
                            <p>1,25% премикс для курей-несушек.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/bigEggProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/protaminoClassicoProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_protamino_classico.jpg" alt="Protamino Classico">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/protaminoClassicoProduct.html" target="_blank">Protamino Classico</a>
                        </div>
                        <div class="text">
                            <p>35% концентрат (старт/гровер) для бройлеров.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/protaminoClassicoProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/protaminoFinoProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_protamino_fino.jpg" alt="Protamino Fino">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/protaminoFinoProduct.html" target="_blank">Protamino Fino</a>
                        </div>
                        <div class="text">
                            <p>35% концентрат (финиш) для домашней птицы</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/protaminoFinoProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/broilerClassicoProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_broiler_clinacox.jpg" alt="Protamino Fino">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/broilerClassicoProduct.html" target="_blank">Broiler Classico</a>
                        </div>
                        <div class="text">
                            <p>1,5% премикс (старт/гровер) для бройлеров.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/broilerClassicoProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/poultryPmix.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_poultry_premix.jpg" alt="Poultry P-mix">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/poultryPmix.html" target="_blank">Poultry P-mix</a>
                        </div>
                        <div class="text">
                            <p>1,5% премикс (финиш) для бройлеров и домашней птицы.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/poultryPmix.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

        </div>
    </main>
    <!-- /.container -->

    <!--Start footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text my-2">
                    <small>Sano 2008-2020. Всі права защищены</small>
                </div>
            </div>
        </div>
    </footer>
    <!--End footer-->

    <!-- build:js -->
    <script src="/dist/app.js"></script>
    <!-- endbuild -->
</body>


</html>