<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Ефективний спосіб вигідної та швидкої відгоділві свиней">
    <meta name="title" content="Откорм свиней">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate" />
    <meta property="og:title" content="Откорм свиней" />
    <meta property="og:description" content="Ефективний спосіб вигідної та швидкої відгоділві свиней" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sano-dev.netlify.com/views/productforpig" />
    <meta property="og:image" content="https://sano-dev.netlify.com/assets/images/logo.jpg" />
    <title>Sano | Откорм свиней</title>
    <!-- build:css -->
    <link rel="stylesheet" href="/dist/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--Start header-->
    <header class="contact-header">
        <div class="container">
            <div class="row">
                <div class="col-12 text-header">
                    <h1>Откорм свиней</h1>
                </div>
            </div>
        </div>
    </header>

    <!--End header-->


    <!-- Start navbar-->
    <nav class="navbar navbar-expand-lg navbar-custom">

        <ul class="language my-auto">
            <li class="change-language">
                <a class="nav-link active" href="#">UA</a>
            </li>
            <li class="change-language">
                <a class="nav-link" href="#">RUS</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="30px">
           <g>
               <g>
                   <path d="M501.333,96H10.667C4.779,96,0,100.779,0,106.667s4.779,10.667,10.667,10.667h490.667c5.888,0,10.667-4.779,10.667-10.667
                       S507.221,96,501.333,96z" fill="#fff"/>
               </g>
           </g>
           <g>
               <g>
                   <path d="M501.333,245.333H10.667C4.779,245.333,0,250.112,0,256s4.779,10.667,10.667,10.667h490.667
                       c5.888,0,10.667-4.779,10.667-10.667S507.221,245.333,501.333,245.333z"  fill="#fff"/>
               </g>
           </g>
           <g>
               <g>
                   <path d="M501.333,394.667H10.667C4.779,394.667,0,399.445,0,405.333C0,411.221,4.779,416,10.667,416h490.667
                       c5.888,0,10.667-4.779,10.667-10.667C512,399.445,507.221,394.667,501.333,394.667z" fill="#fff"/>
               </g>
           </g>
        </svg>
        </button>

        <div class="collapse navbar-collapse navbar-default justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link active" href="../index.html">Главная</a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Продукция
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="productForCow.html">Для КРС</a>
                        <a class="dropdown-item" href="productForPig.html">Для свиней</a>
                        <a class="dropdown-item" href="productForBird.html">Для птицы</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="change-language">
                    <a class="nav-link" href="#">UA</a>
                </li>
                <li class="change-language">
                    <a class="nav-link active" href="#">RUS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End navbar-->


    <main class="container">
        <div class="row">
            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/protaminoPiggiProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_protamino_piggi.jpg" alt="Protamino Piggi">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/protaminoPiggiProduct.html" target="_blank">Protamino Piggi</a>
                        </div>
                        <div class="text">
                            <p>20% концентрат (стартер) для поросят да 25-30 кг.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/protaminoPiggiProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/protaminoPremiumProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_protamino_premium.jpg" alt="Protamino Premium">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/protaminoPremiumProduct.html" target="_blank">Protamino Premium</a>
                        </div>
                        <div class="text">
                            <p>10-15% концентрат для мясных свиней на откорме от 25кг.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/protaminoPremiumProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/ferkelgoldForteProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_ferkelgold_forte.jpg" alt="Ferkelgold Forte">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/ferkelgoldForteProduct.html" target="_blank">Ferkelgold Forte</a>
                        </div>
                        <div class="text">
                            <p>4% премикс (стартер) для поросят до 30 кг.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/ferkelgoldForteProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/aminogoldForteProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_aminogold_forte.jpg" alt="Aminogold Forte">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/aminogoldForteProduct.html" target="_blank">Aminogold Forte</a>
                        </div>
                        <div class="text">
                            <p>2,5-3% премикс для мясных свиней на откормке от 25 кг.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/aminogoldForteProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4  justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/protaminoMatra.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_protamino_matra.jpg" alt="Protamino Matra">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/protaminoMatra.html" target="_blank">Protamino Matra</a>
                        </div>
                        <div class="text">
                            <p>18% концентрат для высокосупоросных и лактирующих свиноматок.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/protaminoMatra.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/protaminoPregnaProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_protamino_pregna.jpg" alt="Protamino Pregna">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/protaminoPregnaProduct.html" target="_blank">Protamino Pregna</a>
                        </div>
                        <div class="text">
                            <p>7% концентрат для супоросных свиноматок.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/protaminoPregnaProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/sauengoldLacProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_sauengold_lac.jpg" alt="Sauengold Lac">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/sauengoldLacProduct.html" target="_blank">Sauengold Lac</a>
                        </div>
                        <div class="text">
                            <p>3% премикс для высокосупоросных и лактирующих свиноматок.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/sauengoldLacProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/sauengoldTragProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_sauengold-trag.jpg" alt="Sauengold Trag">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/sauengoldTragProduct.html" target="_blank">Sauengold Trag</a>
                        </div>
                        <div class="text">
                            <p>2% премикс для супоросных свиноматок.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/sauengoldTragProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/bonniForteProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_bonni_m.jpg" alt="Bonni-M Forte">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/bonniForteProduct.html" target="_blank">Bonni-M Forte</a>
                        </div>
                        <div class="text">
                            <p>Молочная конфетка(готовый корм) для поросят.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/bonniForteProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/babsyForteProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_babsy.jpg" alt="Babsy Forte">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/babsyForteProduct.html" target="_blank">Babsy Forte</a>
                        </div>
                        <div class="text">
                            <p>Престартер (готовый корм) для поросят при отлучке.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/babsyForteProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/preKernForte.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_prekern.jpg" alt="PreKern Forte">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/preKernForte.html" target="_blank">PreKern Forte</a>
                        </div>
                        <div class="text">
                            <p>25% концентрат (престартер) для поросят при отлучке.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/preKernForte.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="#" target="_blank">
                            <img class="my-4" src="../assets/images/cart_sauengold-trag.jpg" alt="Pig S1">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="#" target="_blank">Pig S1</a>
                        </div>
                        <div class="text">
                            <p>1% премикс для мясних свиней на откормке от 25 кг.</p>
                        </div>
                        <div class="more">
                            <a href="#" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="#" target="_blank">
                            <img class="my-4" src="../assets/images/cart_sauengold-trag.jpg" alt="Ferkelgold Forte UA">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="#" target="_blank">Ferkelgold Forte UA</a>
                        </div>
                        <div class="text">
                            <p>2,5% премикс (стартер) для поросят до 30кг.</p>
                        </div>
                        <div class="more">
                            <a href="#" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/sanocidProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/cart_sanocid.jpg" alt="SanoCid">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/sanocidProduct.html" target="_blank">SanoCid</a>
                        </div>
                        <div class="text">
                            <p>Абсорбент-подкислитель.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/sanocidProduct.html" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->


        </div>
    </main>
    <!-- /.container -->

    <!--Start footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text my-2">
                    <small>Sano 2008-2020. Всі права защищены</small>
                </div>
            </div>
        </div>
    </footer>
    <!--End footer-->

    <!-- build:js -->
    <script src="/dist/app.js"></script>
    <!-- endbuild -->
</body>


</html>