<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="1,5% премікс (фініш) для бройлерів та свійської птицы.Спеціальний набір вітамінів і діючих речовин, що впливають на стійкість скелета, суглобів і покращують резистентність організму">
    <meta name="title" content="Poultry P-mix">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate" />
    <meta property="og:title" content="Poultry P-mix" />
    <meta property="og:description" content="1,5% премікс (фініш) для бройлерів та свійської птицы.Спеціальний набір вітамінів і діючих речовин, що впливають на стійкість скелета, суглобів і покращують резистентність організму" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sano-dev.netlify.com/views/moreproduct/poultrypmix" />
    <meta property="og:image" content="https://sano-dev.netlify.com/assets/images/cart_poultry_premix.jpg" />
    <title>Sano | Poultry P-mix</title>
    <!-- build:css -->
    <link rel="stylesheet" href="/dist/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--Start header-->
    <header class="contact-header">
        <div class="container">
            <div class="row">
                <div class="col-12 text-header">
                    <h1>Откорм птицы</h1>
                </div>
            </div>
        </div>
    </header>
    <!--End header-->

    <!-- Start navbar-->
    <nav class="navbar navbar-expand-lg navbar-custom">

        <ul class="language my-auto">
            <li class="change-language">
                <a class="nav-link active" href="#">UA</a>
            </li>
            <li class="change-language">
                <a class="nav-link" href="#">RUS</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="30px">
               <g>
                   <g>
                       <path d="M501.333,96H10.667C4.779,96,0,100.779,0,106.667s4.779,10.667,10.667,10.667h490.667c5.888,0,10.667-4.779,10.667-10.667
                           S507.221,96,501.333,96z" fill="#fff"/>
                   </g>
               </g>
               <g>
                   <g>
                       <path d="M501.333,245.333H10.667C4.779,245.333,0,250.112,0,256s4.779,10.667,10.667,10.667h490.667
                           c5.888,0,10.667-4.779,10.667-10.667S507.221,245.333,501.333,245.333z"  fill="#fff"/>
                   </g>
               </g>
               <g>
                   <g>
                       <path d="M501.333,394.667H10.667C4.779,394.667,0,399.445,0,405.333C0,411.221,4.779,416,10.667,416h490.667
                           c5.888,0,10.667-4.779,10.667-10.667C512,399.445,507.221,394.667,501.333,394.667z" fill="#fff"/>
                   </g>
               </g>
            </svg>
            </button>

        <div class="collapse navbar-collapse navbar-default justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Главная</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    продукция
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../productForCow.html">Для КРС</a>
                        <a class="dropdown-item" href="../productForPig.html">Для свиней</a>
                        <a class="dropdown-item" href="../productForBird.html">Для птицы</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../contact.html">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="change-language">
                    <a class="nav-link active" href="#">UA</a>
                </li>
                <li class="change-language">
                    <a class="nav-link" href="#">RUS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End navbar-->


    <!--Start Banner-->
    <div class="container">
        <div class="row">
            <div class="col-12 image_header text-center">
                <img src="../../assets/images/banner_poultry_pmix.jpg" alt="banner_poultry_pmix"></img>
            </div>
        </div>
    </div>
    <!--End Banner-->

    <main class="container product_details">
        <div class="row">
            <div class="col-4 product_details_title">
                <h2>Poultry P-mix</h2>
            </div>
            <div class="col-8 product_details_descr ">
                <p>"1,5% премикс (финиш) для бройлеров та домашней птицы."</p>
            </div>
        </div>
        <div class="row">
            <div class="order-2 order-md-1 col-12 col-md-8">
                <div>
                    <h4>Свойства:</h4>
                    <ul>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                        </g>
                                    </g>
                                </svg> Минеральные компоненты в легко усваиваемой форме и сбалансированы должным образом;
                        </li>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Специальный набор витаминов и действующих веществ, влияющих на устойчивость скелета, суставов и улучшают резистентность организма;
                        </li>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Соответствующее сочетание незаменимых аминокислот улучшают качество и вкус мяса;
                        </li>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Биотин улучшает работу нервной системы;
                        </li>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Хлорид холин положительно влияет на энергетический обмен;
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>Преимущества применения:</h4>
                    <ul>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                        </g>
                                    </g>
                                </svg> Очень хорошее состояние здоровья;
                        </li>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Высокие ежедневные приросты;
                        </li>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Большая конечная масса;
                        </li>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Лучшее качество мяса;
                        </li>
                        <li>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#FA9101"/>
                                            </g>
                                        </g>
                                </svg> Меньший падеж.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="order-1 order-md-2 col-12 col-md-4 mx-auto text-center">
                <img src="../../assets/images/cart_poultry_premix.jpg" alt="Poultry P-mix">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Свойства</h4>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Бройлер</th>
                            <th>Известняковая мука</th>
                            <th>Соєвий шрот</th>
                            <th>Пшеница/кукуруза</th>
                            <th>Растительное масло
                            </th>
                        </tr>
                        <tr>
                            <td>Стартер</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1,5% Бройлер Классико</td>
                            <td>1,5%</td>
                            <td>35%</td>
                            <td>62%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>1,5% Бройлер Классико</td>
                            <td>1,5%</td>
                            <td>37%</td>
                            <td>58%</td>
                            <td>2%</td>
                        </tr>
                        <tr>
                            <td>1,5% Бройлер Классико</td>
                            <td>1,5%</td>
                            <td>39%</td>
                            <td>54%</td>
                            <td>4%</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Гровер</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1,5% Бройлер Классико</td>
                            <td>1,5%</td>
                            <td>30%</td>
                            <td>67%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>1,5% Бройлер Классико</td>
                            <td>1,5%</td>
                            <td>32%</td>
                            <td>63%</td>
                            <td>2%</td>
                        </tr>
                        <tr>
                            <td>1,5% Бройлер Классико</td>
                            <td>1,5%</td>
                            <td>34%</td>
                            <td>59%</td>
                            <td>4%</td>
                        </tr>
                        <tr>
                            <th>Фінішер</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1,5% Полтри П-Микс</td>
                            <td>1,5%</td>
                            <td>25%</td>
                            <td>72%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>1,5% Полтри П-Микс</td>
                            <td>1,5%</td>
                            <td>27%</td>
                            <td>68%</td>
                            <td>2%</td>
                        </tr>
                        <tr>
                            <td>1,5% Полтри П-Микс</td>
                            <td>1,5%</td>
                            <td>29%</td>
                            <td>64%</td>
                            <td>4%</td>
                        </tr>
                    </table>
                    <table class="table">
                        <tr>
                            <th>Гуси і утки</th>
                            <th>Мел
                            </th>
                            <th>Соєвий шрот</th>
                            <th>Пшеница/кукуруза</th>
                            <th>Растительное масло
                            </th>
                        </tr>
                        <tr>
                            <td>Стартер</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1,5% Полтри П-Микс</td>
                            <td>1,5%</td>
                            <td>27%</td>
                            <td>70%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>Гровер</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1,5% Полтри П-Микс</td>
                            <td>1,5%</td>
                            <td>22,5%</td>
                            <td>75%</td>
                            <td>0%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <!-- /.container -->

    <!--Start footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text mx-2">
                    <small>Sano 2008-2020. Все права защищены</small>
                </div>
            </div>
        </div>
    </footer>
    <!--End footer-->

    <!-- build:js -->
    <script src="/dist/app.js"></script>
    <!-- endbuild -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Product",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4.7",
                "reviewCount": "33"
            },
            "description": "1,5% премікс (фініш) для бройлерів та свійської птицы.Спеціальний набір вітамінів і діючих речовин, що впливають на стійкість скелета, суглобів і покращують резистентність організму",
            "name": "Poultry P-mix",
            "image": "https://sano-dev.netlify.com/assets/images/cart_poultry_premix.jpg",
            "brand": "Sano"
        }
    </script>
</body>


</html>