<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="2,5% премікс для пороносних свиноматок.">
    <meta name="title" content="Sauengold Trag">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate" />
    <meta property="og:title" content="Sauengold Trag" />
    <meta property="og:description" content="2,5% премікс для пороносних свиноматок." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sano-dev.netlify.com/views/moreproduct/sauengoldtragproduct" />
    <meta property="og:image" content="https://sano-dev.netlify.com/assets/images/cart_sauengold-trag.jpg" />
    <title>Sano | Sauengold Trag</title>
    <!-- build:css -->
    <link rel="stylesheet" href="/dist/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--Start header-->
    <header class="contact-header">
        <div class="container">
            <div class="row">
                <div class="col-12 text-header">
                    <h1>Откорм Свиней</h1>
                </div>
            </div>
        </div>
    </header>
    <!--End header-->

    <!-- Start navbar-->
    <nav class="navbar navbar-expand-lg navbar-custom">

        <ul class="language my-auto">
            <li class="change-language">
                <a class="nav-link" href="https://sano-dev.netlify.com/views/moreproduct/sauengoldtragproduct">UA</a>
            </li>
            <li class="change-language">
                <a class="nav-link active" href="#">RUS</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="30px">
               <g>
                   <g>
                       <path d="M501.333,96H10.667C4.779,96,0,100.779,0,106.667s4.779,10.667,10.667,10.667h490.667c5.888,0,10.667-4.779,10.667-10.667
                           S507.221,96,501.333,96z" fill="#fff"/>
                   </g>
               </g>
               <g>
                   <g>
                       <path d="M501.333,245.333H10.667C4.779,245.333,0,250.112,0,256s4.779,10.667,10.667,10.667h490.667
                           c5.888,0,10.667-4.779,10.667-10.667S507.221,245.333,501.333,245.333z"  fill="#fff"/>
                   </g>
               </g>
               <g>
                   <g>
                       <path d="M501.333,394.667H10.667C4.779,394.667,0,399.445,0,405.333C0,411.221,4.779,416,10.667,416h490.667
                           c5.888,0,10.667-4.779,10.667-10.667C512,399.445,507.221,394.667,501.333,394.667z" fill="#fff"/>
                   </g>
               </g>
            </svg>
            </button>

        <div class="collapse navbar-collapse navbar-default justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Главная</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Продукция
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../productForCow.html">Для КРС</a>
                        <a class="dropdown-item" href="../productForPig.html">Для свиней</a>
                        <a class="dropdown-item" href="../productForBird.html">Для птицы</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../contact.html">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="change-language">
                    <a class="nav-link" href="https://sano-dev.netlify.com/views/moreproduct/sauengoldtragproduct">UA</a>
                </li>
                <li class="change-language">
                    <a class="nav-link active" href="#">RUS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End navbar-->


    <!--Start Banner-->
    <div class="container">
        <div class="row">
            <div class="col-12 image_header text-center">
                <img src="../../assets/images/banner_trag.jpg" alt="banner_Sauengold_Trag"></img>
            </div>
        </div>
    </div>
    <!--End Banner-->

    <main class="container product_details ">
        <div class="row ">
            <div class="col-4 product_details_title ">
                <h2>Sauengold Trag</h2>
            </div>
            <div class="col-8 product_details_descr ">
                <p>"2% премикс для супоросных свиноматок."</p>
            </div>
        </div>
        <div class="row ">
            <div class="order-2 order-md-1 col-12 col-md-8 ">
                <div>
                    <h4>Свойства:</h4>
                    <ul>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                        </g>
                                    </g>
                                </svg> Высоко доступне минеральные компоненты, такие как: монокальцийфосфат, с пониженной свойством связывания;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Кислотные компоненты такие как: сера, метионин;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Специальный набор витаминов и активных веществ, которые влияет на устойчивость костей, копыт и суставов, улучшает иммунитет;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Комбинация аминокислот, предотвращает избыток белка в корме;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Фертисан-С улучшает фертильность;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Положительное действие на развитие плодов.
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>Преимущества применения:</h4>
                    <ul>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                        </g>
                                    </g>
                                </svg> Большой вес при рождении;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Количественное, здоровое потомство;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Улучшает конверсию корма;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Здоровые и твердые копыта, крепкие конечности;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Поддерживает высокую плодовитость;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Защищает от ММА;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Повышает резистентность;
                        </li>
                        <li>
                            <svg version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512; " xml:space="preserve " height="15
                    " width="15 ">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                    C514.5,101.703,514.499,85.494,504.502,75.496z " fill="#FA9101 "/>
                                            </g>
                                        </g>
                                </svg> Долгое время использования.
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Рекомендованный рецепт</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Соевый шрот</td>
                                <td>%</td>
                                <td>7,5</td>
                            </tr>
                            <tr>
                                <td>
                                    Ячмень</td>
                                <td>%</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Пшеница</td>
                                <td>%</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>Пшеничные отруби</td>
                                <td>%</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <th>Сауенголд Траг</th>
                                <td>%</td>
                                <td>2,5</td>
                            </tr>
                            <tr>
                                <th> + 5кг/т Саноцид</th>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="order-1 order-md-2 col-12 col-md-4 mx-auto text-center ">
                <img src="../../assets/images/cart_sauengold-trag.jpg " alt="Sauengold Trag">
            </div>
        </div>
    </main>
    <!-- /.container -->

    <!--Start footer-->
    <footer>
        <div class="container ">
            <div class="row ">
                <div class="col-12 text-center text mx-2 ">
                    <small>Sano 2008-2020. Все права защищены</small>
                </div>
            </div>
        </div>
    </footer>
    <!--End footer-->

    <!-- build:js -->
    <script src="/dist/app.js "></script>
    <!-- endbuild -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Product",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4.9",
                "reviewCount": "10"
            },
            "description": "2,5% премікс для пороносних свиноматок.",
            "name": "Sauengold Trag",
            "image": "https://sano-dev.netlify.com/assets/images/cart_sauengold-trag.jpg",
            "brand": "Sano"
        }
    </script>
</body>


</html>